In [1]:
import re

In [2]:
# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
text= 'Python Exercises,PHP exercises.'
reg=re.compile('[\s|\,|\.]')
sub=reg.sub(':',text)
print(sub)

Python:Exercises:PHP:exercises:

In [178]:
# Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
# Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
# Expected output-
# 0      hello world
# 1             test
# 2    four five six
import re
import pandas as pd
import numpy as np
dictionary={'Summary' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dictionary)
for i in df:
   df['Summary']=df['Summary'].apply(lambda x: re.sub('[,\d+:;.!]|X{5}','',x))
df

         Summary
0    hello world
1           test
2  four five six

In [196]:
# Question 3- Create Onlinea function in python to find all words that are at least 4 characters long in a string. 
# The use of the re.compile() method is mandatory.
text=' Learning is the new normal and so are the Universities imparting education online. DataTrained has helped institutions and industries in continuing with their knowledge delivery with a mix of technical knowledge and practical implementation with our proprietary Learning Management System (LMS).'
def find():
    pattern='\w{4,25}+'
    reg=re.compile(pattern)
    out=reg.findall(text)
    
    return out

In [197]:
find()

['Learning',
 'normal',
 'Universities',
 'imparting',
 'education',
 'online',
 'DataTrained',
 'helped',
 'institutions',
 'industries',
 'continuing',
 'with',
 'their',
 'knowledge',
 'delivery',
 'with',
 'technical',
 'knowledge',
 'practical',
 'implementation',
 'with',
 'proprietary',
 'Learning',
 'Management',
 'System']

In [218]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. 
# The use of the re.compile() method is mandatory.
text='Learning is the new normal and so are the Universities imparting education online. DataTrained has helped institutions and industries in continuing with their knowledge delivery with a mix of technical knowledge and practical implementation with our proprietary Learning Management System (LMS).'
def find_3():
    pat=re.compile(r'(\b\w{3}\b)|(\b\w{4}\b)|(\b\w{5}\b)')
    output=pat.findall(text)
    return output

In [219]:
find_3()

[('the', '', ''),
 ('new', '', ''),
 ('and', '', ''),
 ('are', '', ''),
 ('the', '', ''),
 ('has', '', ''),
 ('and', '', ''),
 ('', 'with', ''),
 ('', '', 'their'),
 ('', 'with', ''),
 ('mix', '', ''),
 ('and', '', ''),
 ('', 'with', ''),
 ('our', '', ''),
 ('LMS', '', '')]

In [694]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
#Expected Output:
#example.com
#hr@fliprobo.com
#github.com
#Hello Data Science World
#Data Scientist

Sample_Text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

def rem_par():
    modtext=[]
    
    for i in Sample_Text:
        pat=re.compile('[\(\)\s]')
        new=pat.sub('',i)
        modtext.append(new)
        print(new)
rem_par()

example.com
hr@fliprobo.com
github.com
HelloDataScienceWorld
DataScientist

In [276]:
# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
# Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
# Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
# Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

Sample_Text= '"example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"'
com=re.compile('(\(\.\w+\))|(\(\w+ \w+ \w+\))|(\(\w+\))|(\s)')
out=com.sub('',Sample_Text)
print(out)

"example","hr@fliprobo","github","Hello","Data"

In [392]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
#Sample text: “ImportanceOfRegularExpressionsInPython”
#Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]
Stext="ImportanceOfRegularExpressionsInPython"
sp=filter(None,re.split(r'(?=[A-Z])',Stext))
print(list(sp))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [400]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
#Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython
Text= 'RegularExpression1IsAn2ImportantTopic3InPython'
def ins():
    split=filter(None,re.split(r'(?=[\d])',Text))
    print(list(split))
ins()

['RegularExpression', '1IsAn', '2ImportantTopic', '3InPython']

In [417]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
#Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

def cap():
    split=filter(None,re.split(r'(\d(?=[A-Z]))',Text))
    print(list(split))
cap()

['RegularExpression', '1', 'IsAn', '2', 'ImportantTopic', '3', 'InPython']

In [498]:
#Question 10- Use the github link below to read the data and create a dataframe. 
#After creating the dataframe extract the first 6 letters of each country and 
#store in the dataframe under a new column called first_five_letters.
#Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv
import pandas as pd
import re

dd=pd.read_csv('country.csv')
dd

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [499]:
dd.sample(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
105,Tajikistan,Central and Eastern Europe,106,4.786,0.03198,0.39047,0.85563,0.57379,0.47216,0.15072,0.22974,2.11399
97,Dominican Republic,Latin America and Caribbean,98,4.885,0.07446,0.89537,1.17202,0.66825,0.57672,0.14234,0.21684,1.21305
37,Taiwan,Eastern Asia,38,6.298,0.03868,1.29098,1.07617,0.87530,0.39740,0.08129,0.25376,2.32323
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
139,Comoros,Sub-Saharan Africa,140,3.956,0.04797,0.23906,0.79273,0.36315,0.22917,0.19900,0.17441,1.95812

In [592]:
dd['first_six']=dd['Country'].apply(lambda x: re.findall('\w{0,6}',x)[0] if re.findall('\w{0,6}',x) else "")

In [593]:
dd

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_six,Continent
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze,Europe
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan,Europe
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar,Europe
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway,Europe
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada,America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda,Africa
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin,Africa
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria,Africa
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund,Africa
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo,Africa

In [577]:
dd['Continent']=dd['Region'].apply(lambda x: re.findall('\w+$',x)[0] if re.findall('\w+$',x) else '')

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_six,Continent
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze,Europe
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan,Europe
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar,Europe
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway,Europe
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada,America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda,Africa
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,,Africa
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,,Africa
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund,Africa
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,,Africa

In [636]:
type[dd['Continent']]

type[0       Europe
1       Europe
2       Europe
3       Europe
4      America
        ...
153     Africa
154     Africa
155     Africa
156     Africa
157     Africa
Name: Continent, Length: 158, dtype: object]

In [557]:
#Question 11- Write a Python program to match a string that contains 
#only upper and lowercase letters, numbers, and underscores.
text=["Hello_world","you+are+awe$ome","ALFA&OMEGA","PEE_KA_boo","123_Mic_check"]
def match_string(m):
    if re.match('^[A-Za-z0-9_]+$',m):
        print(f"Match found [{m}]")
    else:
        print(f"The string [{m}] does not match")
for str in text:  
    match_string(str)

Match found [Hello_world]
The string [you+are+awe$ome] does not match
The string [ALFA&OMEGA] does not match
Match found [PEE_KA_boo]
Match found [123_Mic_check]

In [591]:
#Question 12- Write a Python program where a string will start with a specific number.
text=["1Hello_world","4you+are+awe$ome","7ALFA&OMEGA","9PEE_KA_boo","123_Mic_check"]
pat=re.compile(r'^[123]')

def num_match(s):
    if re.match(pat,s):
        print(f"Match found [{s}]")
    
    else:
        print(f"[{s}] does not match the pattern")
        
for i in text:
    num_match(i)

Match found [1Hello_world]
[4you+are+awe$ome] does not match the pattern
[7ALFA&OMEGA] does not match the pattern
[9PEE_KA_boo] does not match the pattern
Match found [123_Mic_check]

In [603]:
#Question:13 Write a Python program to remove leading zeros from an IP address
l="109.800.001.020"
pat=re.compile('(?<=\.|^ )0+(?=[0-9])')
match=pat.sub('',l)
match

'109.800.1.20'

In [621]:
# Question 14- Write a regular expression in python to match a date string in the form of Month name 
#followed by day number and year stored in a text file.
#Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, 
#and the reins of control were handed over to the leaders of the Country’.
#Expected Output- August 15th 1947
text='''On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'''
pat1=re.compile(r'[January|Febuary|March|April|May|June|July|August|September|October|November|December]+ \d{2}\w{2} \d{4}')
match=pat1.findall(text)
match

['August 15th 1947']

In [629]:
# Q 14- Method 2
text='''On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'''
pat1=re.compile(r'[A-Z]\w+ \d{2}\w{2} \d{4}')
match=pat1.findall(text)
match

['August 15th 1947']

In [631]:
str="".join(match)

In [635]:
str

'August 15th 1947'

In [684]:
#Question 15- Write a Python program to search some literals strings in a string. 
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox', 'dog', 'horse'
text = 'The quick brown fox jumps over the lazy dog.'
matches=re.findall('(fox|dog|horse)',text)
matches

['fox', 'dog']

In [660]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
pat=re.compile(r'(fox)')
loc=pat.finditer(text)

for match in loc:
    print("Pattern ",match.group()," found at index ",match.start()," : ",match.end())

Pattern  fox  found at index  16  :  19

In [670]:
#Question 17- Write a Python program to find the substrings within a string.
#Sample text : 'Python exercises, PHP exercises, C# exercises'
#Pattern : 'exercises'.
text='Python exercises, PHP exercises, C# exercises'
pat=re.compile('exercises')
loc=pat.finditer(text)

for mat in loc:
    print("The substring '{}' is present at {}:{}".format(mat.group(),mat.start(),mat.end()))

The substring 'exercises' is present at 7:16
The substring 'exercises' is present at 22:31
The substring 'exercises' is present at 36:45

In [678]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.
text='He went toh went toh aisa went ki camehai not'
pat=re.compile('went')
loc=pat.finditer(text)
i=1
for mat in loc:
    print("The no {} occurrence of substring '{}' is present at {}:{}".format(i,mat.group(),mat.start(),mat.end()))
    i=i+1

The no 1 occurrence of substring 'went' is present at 3:7
The no 2 occurrence of substring 'went' is present at 12:16
The no 3 occurrence of substring 'went' is present at 26:30

In [683]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
datestr="2016-10-16"
def convert():
    sp=re.split('-', datestr)
    sp.reverse()
    revstr='-'.join(sp)
    print(revstr)
convert()

16-10-2016

In [707]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
#Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
#Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']
Text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
def find_D():
    pat=re.compile(r'\b\d+\.\d{1,2}\b')
    sp=pat.findall(Text)
    print(sp)
find_D()

['01.12', '145.8', '3.01', '27.25', '0.25']

In [716]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string.
text= 'RegularExpression1IsAn2ImportantTopic3InPython'
spl=re.split('',text)
mat=re.finditer('\d{1}',text)
for i in mat:
    print("Found {} at {}:{}".format(i.group(),i.start(),i.end()))

Found 1 at 17:18
Found 2 at 22:23
Found 3 at 37:38

In [727]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
#Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
#Expected Output: 950
text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pat=re.compile('\d+')
match=pat.findall(text)
print(max(match))

950

In [784]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
#Sample Text: “RegularExpressionIsAnImportantTopicInPython"
#Expected Output: Regular Expression Is An Important Topic In Python
def space():
    text="RegularExpressionIsAnImportantTopicInPython"
    pat=re.compile(r'(?<!^)(?=[A-Z])')
    sp=pat.split(text)
    print(sp)
space()

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [789]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
text="RegularExpressionIs255characterandAnImportantTopicInPython123Check"
match=re.findall('[A-Z][a-z]+',text)
print(match)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python', 'Check']

In [818]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
#Sample Text: "Hello hello world world"
#Expected Output: Hello hello world
text="Hello hello world world"
sp=re.split(' ',text)
new=[]
for i in sp:
    if not new or i!=new[-1]:
        new.append(i)
    
result=' '.join(new)
print(result)

Hello hello world

In [825]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.
strings = ["abc123", "hello world!", "python3", "12345", "?!@#$%^&*()"]
pat=re.compile('\w$')
new=[]
for i in strings:
    if pat.findall(i):
        new.append(i)
new

['abc123', 'python3', '12345']

In [845]:
#Question 27-Write a python program using RegEx to extract the hashtags.
#Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
#Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']
Text= '''RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered 
USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'''
match=re.finditer('\#\w+',Text)
new=[]
for i in match:
    new.append(i.group())
print(new)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [847]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
#Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
#Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders
text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
sp=re.sub('<\w+[+|A-Z|0-9]+>','',text)
sp

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

In [877]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
#Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
#Note- Store this sample text in the file and then extract dates.
import re
with open('text.txt','r+') as file:
    text=file.read()
    match=re.findall(r'\d{2}-\d{2}-\d{4}',text)
match

['12-09-1992', '15-12-1999']

In [946]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pat=re.compile(r'\b\w{2,4}\b')
rem=pat.sub('',text)
print(rem)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.